<div class="c-cat">
  <span class="label">Covid-19</span>
  <mat-icon class="icon-lg" svgIcon="Covid@PYPGrandes" style="color: transparent;stroke:#9469AD"></mat-icon>
</div>
<div class="c-data">
  <div class="c-content">
    <div class="icon">
      <mat-icon class="icon" svgIcon="titulo@PYPGrandes" style="color: transparent;stroke:#9469AD"></mat-icon>
    </div>
    <div class="info">
      <span class="label">Título de campaña</span>
      <p class="title">
        {{ campaign.title }}
      </p>
    </div>
  </div>
  <div class="c-content">
    <div class="icon">
      <mat-icon class="icon" svgIcon="Tipo@PYPGrandes" style="color: transparent;stroke:#9469AD"></mat-icon>
    </div>
    <div class="info">
      <span class="label">Tipo de campaña</span>
      <p class="title">
        Promoción
      </p>
    </div>
  </div>
  <div class="c-content">
    <div class="icon">
      <mat-icon class="icon" svgIcon="Estatus@PYPGrandes" style="color: transparent;stroke:#9469AD"></mat-icon>
    </div>
    <div class="info">
      <span class="label">Estatus de campaña</span>
      <p class="title">
        {{ campaign.status }}
      </p>
    </div>
  </div>
  <div class="c-content">
    <div class="icon">
      <mat-icon class="icon" svgIcon="Estatus@PYPGrandes" style="color: transparent;stroke:#9469AD"></mat-icon>
    </div>
    <div class="info">
      <span class="label">Número de usuarios impactados</span>
      <p class="title">
        {{ campaign.users }}
      </p>
    </div>
  </div>
  <div class="c-content">
    <div class="icon">
      <mat-icon class="icon" svgIcon="Fecha@PYPGrandes" style="color: transparent;stroke:#9469AD"></mat-icon>
    </div>
    <div class="info">
      <span class="label">Fecha y hora de creación</span>
      <p class="title">
        24/12/2020 - 12:27 PM
      </p>
    </div>
  </div>
  <div class="c-content">
    <div class="icon">
      <mat-icon class="icon" svgIcon="Fecha@PYPGrandes" style="color: transparent;stroke:#9469AD"></mat-icon>
    </div>
    <div class="info">
      <span class="label">Fecha y hora de envío</span>
      <p class="title">
        24/12/2020 - 12:27 PM
      </p>
    </div>
  </div>
</div>